* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

div.wrapper {
    position: relative;
    width: 100%;
    height:100%;
    background-color: #A8A8A8;
}

div.inner-wrap{
    margin: 0 auto;
    width: 100%;
    max-width: 1550px;
}

header{
    width:100%;
    height:55px;
    position:absolute;
    border-bottom: 5px solid blue;
    top:0;
    left:0;
    background-color: #9900CC;
}

h1{
    font-size: 30px;
    text-align:center;
    margin-top: 12px;
}

div.timer {
    float: left;
    color: white;
    margin-left: 22px;
    margin-top: 8px;
    font-size: 17px;
}

main{
    padding-top:59px;
    min-height:85%;
    width:100%;
}

div.window-game{
    float: left;
    margin-top:20px;
    margin-left:10px;
    height:500px;
    width:83%;
    background:#66FF66;
    border-radius:11px;
}

aside {
    width: 14%;
    position: absolute;
    right: 17px;
}

ul.game-menu {
    margin-top: 20px;
    height: 399px;
    background: rgb(87, 85, 85);
    border:2px solid black;
    padding-top: 7px;
    border-radius: 15px;
}
ul.game-menu li{
    list-style:none;
}
ul.game-menu>li{
    width:90%;
    margin: 0 auto;
    margin-top: 10px;
    background:#3366FF;
}

ul.game-menu li ul li{
    margin-bottom:7px;
}

ul.game-menu li ul li:first-child{
text-align: center;
color:white;
}

ul.game-menu ul{
padding-bottom:5px;
}

ul.game-menu li:first-child{
    background: none;
}
ul.game-menu button{
    margin:0 auto;
    margin-left: 21px;
}

ul.game-menu .new-game-btn button, 
ul.game-menu .difficulty-menu button{
width:75%;
height:30px;
background: #00FFCC;
border-radius:10px; 
}

ul.game-menu .shirt-menu img{
    height: 39px;
    width: 55%;
}

ul.game-menu .shirt-menu{
    height: 186px;
}

ul.game-menu .shirt-menu button.shirt{
    width: 40%;
    margin-left: 59px;
}
div.about-game{
display:flex;
justify-content: space-between;
font-size: 20px;
}

div.about-game ul,
 div.about-game ol{
margin:0 auto;
margin-top:20px;
width: 31%;
}

div.about-game .rules-title,
div.about-game .purposes-title{
text-align: center;
font-size: 24px;
font-weight:bold;
margin-bottom:15px;
}

aside ul.game-menu li ul{
    border-radius: 15px;
}





.active {
    border: 2px solid rgb(29, 12, 187);
}

.item {
    margin-left: 57px;
    margin-top: 30px;
    border-radius: inherit;
    float: left;
    position: relative;
}

.theCard {
    position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: inherit;
}

.theCard-rotate {
    transform: rotateY(180deg);
}

.theCard-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s, visibility 0.6s linear 0.6s;
}

.theFront {
    position: absolute;
    backface-visibility: hidden;
    border-radius: inherit;
    height: 100%;
    width: 100%;
    margin: 0;
}

.shirt1 {
    background: url("../images/skirts/dress_shirt.png") no-repeat;
    background-size: 100% 100%;
}

.shirt2 {
    background: url("../images/skirts/Nature-PNG-Transparent.png") no-repeat;
    background-size: 100% 100%;
}

.shirt3 {
    background: url("../images/skirts/ufc.png") no-repeat;
    background-size: 100% 100%;
}

.easy {
    height: 190px;
    width: 13%;
}

.medium {
    height: 120px;
    width: 10%;
}

.hard {
    height: 105px;
    width: 7%;
}

.theBack {
    position: absolute;
    backface-visibility: hidden;
    width: 72px;
    height: 37px;
    background-size: auto;
    margin: 0;
    transform: rotateY(180deg);
}

.first-back{
    background: url("../images/cards/car_logo_audi.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.second-back {
    background: url("../images/cards/car_logo_chevrolet.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.third-back {
    background: url("../images/cards/car_logo_citroen.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.fours-back {
    background: url("../images/cards/car_logo_Honda.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.fives-back {
    background: url("../images/cards/car_logo_ford.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.sixes-back {
    background: url("../images/cards/car_logo_infinity.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.sevens-back {
    background: url("../images/cards/car_logo_mazda.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.eights-back {
    background: url("../images/cards/car_logo_mersedes.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.nines-back {
    background: url("../images/cards/car_logo_nissan.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.tens-back {
    background: url("../images/cards/car_logo_opel.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.elevens-back {
    background: url("../images/cards/car_logo_toyota.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

.twelves-back {
    background: url("../images/cards/car_logo_hyundai.png") no-repeat;
    background-size:100% 100%;
    width:100%;
    height:45%;
}

div.authorization {
    width: 19%;
    height: 289px;
    border-radius: 12px;
    background: rgb(87, 85, 85);
    border:2px solid black;
    margin: 0 auto;
    position: fixed;
    top: 14%;
    left: 37%;
    z-index: 10;
}

div.authorization h2 {
    color: #ffffff;
    text-align: center;
    width: 100%;
    font-size: 24px;
}

div.authorization form input {
    border: 2px solid blue;
    border-radius: 10px;
    width: 73%;
    height: 41px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
}

div.authorization form button {
    margin: 0 auto;
    margin-top: 15px;
    width: 80%;
    height: 50px;
    background: rgb(6, 236, 6);
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    display: block;
}

div.dark-bg{
    width: 100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    z-index: 9;
}
.hide-win{
    display:none;
}